/* izvonok */
.izvonok_container {
    background-color: #ccc7c5;
    padding: 3% 5px;
    margin: 10px;
    text-align: center;
    font-size: 14px;
    font-family: Calibri,Arial;
    box-sizing: border-box;
    margin: 20px;
    font-size: 12px;
    color: #3b3e4a;
    font-size: 40.6154px;
}

.izvonok_inline .izvonok_blocks_title {
    text-align: center;
    font-family: Calibri,Arial;
    font-size: 50px;
    margin: 10px;
}

.izvonok_form {
        display: block !important;
}

.izvonok_phone {
    display: inline-block !important;


}

.izvonok_submit{
    display: inline-block !important;

}

.izvonok_phone_input {
    width: 260px !important;
    margin-right: 10px !important;
    font-size: 18px !important;
    height: 44px !important;
    padding: 0 5px !important;
    margin: 4px !important;
    text-align: center !important;
}

.izvonok_result {
    font-family: Calibri,Arial;
    font-size: 14px;
    color: #3b3e4a;
}

.izvonok_phone_button {
    font-size: 18px !important;
    height: 44px !important;
    font-weight: 500 !important;
    margin: 4px !important;
    color: #fff !important;
    border: #e8e8e8 !important;
    background: #96272d !important;
    padding: 0 30px; 
}

/* izvonok end*/


.hleft{
	margin-bottom: 20px;
    margin-left: 35px;
    font-family: "SFUI Display";
    font-size: 24px;
    font-weight: 800;
    color: #322e2d;
}

.hnews {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "SFUI Display";
    font-weight: 800;
    line-height: 1em;
    color: #322e2d;
}

.category-description {
    margin: 40px 0 10px 0;}